body {
    background: #181E34;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header {
    padding: 30px 0 36px 0;
}

.header__inner {
    display: flex;
    align-items: center;
}
.header__nav {
    margin-left: auto;
}
.header__nav-items {
    display: flex;
}
.header__nav-item {
    margin-right: 30px;
}

.header__nav-item:last-child {
    margin-right: 34px;
}
.header__button {
    padding: 14px 30px;
    color: #2766AE;
    font-weight: 500;
    background: #fff;
    border-radius: 100px;
}

.hero {
    background: url("/images/hero.png") 10% 50% / cover no-repeat;
    padding: 120px 0;
}

.hero__title {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.hero__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero__main-text {
    max-width: 436px;

}

.hero__text:first-child {
    margin-bottom: 15px;
}

.hero__text span {
    font-weight: 700;
    text-transform: uppercase;
    color: #01A2CB;
}
.hero__buttons {
    display: flex;
    flex-direction: column;
}
.hero__button {
    border-radius: 100px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1),rgba(39, 102, 174, 1) 100%);
    padding: 18px 128.5px;
    font-weight: 500;
    text-align: center;
    display: flex;
    justify-content: center;
}

.hero__button img{
    margin-left: 4px;
}

.hero__button:first-child {
    margin-bottom: 10px;
}

.about {
    text-align: center;
    padding: 120px 0;
    border-bottom: 1px solid rgba(50, 57, 82, 1);;
}

.about__inner {
}
.about_title {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}
.about_desc {
    font-size: 16px;
    max-width: 513px;
    margin: 25px auto 60px auto;
}
.about_cards {
    display: grid;
    grid-template-columns: repeat(4, 205px);
    gap: 28px;
}

.about__card {
    width: 204px;
    border: 2px solid rgba(23, 107, 174, 1);
    border-radius: 16px;
    box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
    background: rgba(25, 124, 184, 1);
}

.about__card-inner {
    padding: 28px;
}

.about__card-title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.about__button {
    margin-top: 45px;
}

.about__button-btn {
    padding: 18px 186.5px;
    border-radius: 100px;
    background: linear-gradient(180.00deg, rgba(0, 164, 204, 1),rgba(39, 102, 174, 1) 100%);
}

.footer {
    padding: 60px 0;
}
.container {
}
.footer__inner {
    display: flex;
}
.footer__logo {
    margin-right: 197px;
}
.footer__disc {
    max-width: 267px;
    margin-top: 15px;
}
.footer__nav-first {
    margin-right: 117px;
}
.footer__nav-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
}
.footer__nav {
}
.footer__nav-list {
}
.footer__nav-item {
    margin-bottom: 10px;
}

.footer__nav-item:last-child {
    margin-bottom: 0px;
}
.footer__nav-link {
}
.footer__nav-second {
}