.header {
    background-color: rgb(228, 174, 112);
    height: 60px;
}

.header a {
    color: #000;
}

.copyright {
    background-color: rgb(245, 215, 181);
}

.footer {
    background-color: rgb(155, 49, 255);
    color: #fff;
    height: 300px;
}

.footer a {
    color: #fff;
}