.main {
    overflow: scroll;
    max-height: 500px;
    background: #f4eafe;
    box-sizing: content-box;
}

.cards {
    
}

.card {
    padding: 10px 15px;
    margin: 10px;
    display: inline-block;
    width: 300px;
    height: 200px;
    background-color: #c8bda1;
    border: 1px solid #000;
    border-radius: 20px;
    box-shadow: inset 1px 1px 10px #000;
}

.card__title {

}

.card__disc {

}