.header {
}
.container {
    max-width: 1220px;
    padding: 15px;
    margin: 0 auto;
}
.header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: 1px solid black;
    flex-wrap: wrap;
}
.header__nav-logo {
}
.block {
    background: black;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.header__nav-nav {
}
.header__nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
    flex-wrap: wrap;
}
.header__nav-item {
    font-size: 18px;
}
.header__nav-link {
    color: black;
}
.header__nav-tel {
    color: black;
}