.form {
    display: inline-block;
    border: 1px solid #000;
}
.form-group-1 {
    display: flex;
    flex-direction: column;
    border: 0px;
}

.form-legend {
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-label input, textarea{
    margin-top: 5px;
}

.form-label-checkbox{
    display: block;
}

.textarea {
    min-width: 200px;
    max-width: 200px;
}

.form-group-2 {
    display: flex;
    flex-direction: column;
}

input, textarea {
    border-radius: 5px;
    padding: 5px;
}

.button {
    cursor: pointer;
}