.open-sans {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.through {
    text-decoration: line-through;
}

.uppercase {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
}

.word-space {
    text-shadow: 0px 0px 1px #d813ff;
    word-spacing: 30px;
    text-decoration: overline wavy;
}

.letter-spacing {
    letter-spacing: 5px;
    text-decoration: underline double;
}